.options{
    margin: 8px 0px;
    padding: 12px 6px;
    color: aliceblue;
    width: 100%;
    transition: 0.9s;
    position: relative;
    display: flex;
    align-items: center;
}
.options h4{
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 20px;
}
.options p{
    margin:0px 12px;
    font-size: 1.2rem;
    line-height: 10px;
}
.options::before{
    position: absolute;
    content: '';
    top:36%;
    left:0;
    height: 15px;
    width: 2px;
    background-color: red;
    border-radius: 0px 2px 2px 0px;
   visibility: hidden;
}
.options:hover{
    cursor: pointer;
    background-color: rgba(255,255, 255, 0.1);
}
.options:hover::before{
    visibility: visible;

}

.options:hover p{
 color: red;
}