::-webkit-scrollbar{
    display: none;
}
.Popular{
    padding: 4px 8px;
    margin-top: 4px;
    width: 100%;
    width: 100%;
}
.Popular h1{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-bottom: 8px;
}
.popular_flex{
    display: flex;
    max-width: 80vw;
    overflow-x: scroll;
    padding: 6px 0px;
}

